
body{
    background-color: rgb(194, 194, 194);
}
.wrapper{
    margin-top:5% ;
    margin-bottom:5%;
}
#mini-header{
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}
#hero{
    background-color:rgb(148, 147, 147);
}
#search{
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
